

body {
  overflow-x: hidden;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

html {
  transition: background-color 0.3s, color 0.3s;
}
body{
  overflow-x: hidden;
}

body {
font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

html{
  transition: background-color 0.3s, color 0.3s;
}

.react-datepicker{
  border-radius: 10px;
  font-family: inherit;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
